::root{
    font-size: 18px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard-container {
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 5px;
}

.tictactoe-square {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}